@model IEnumerable<string>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Contact Support Page";
}

<h1>Contact</h1>

<ul class="list">
    @foreach (string city in Model)
    {
        <li>@city</li>
    }
</ul>

<p>contact details in below footer</p>

<div>@ViewBag.InstanceId_CitiesService_1</div>
<div>@ViewBag.InstanceId_CitiesService_2</div>
<div>@ViewBag.InstanceId_CitiesService_3</div>

@section footer_section
{
    <p>Contact support: +8801632089529</p>
    @* Local Script: <script src="someScript.js"></script>*@
}