@using RazorView.Models
@using System.Diagnostics

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["appTitle"]</title>
</head>

<body>
    <h1>Welcome to the Matchine</h1>
    @{
        List<Person>? people = (List<Person>?)ViewData["people"];
    }

    @if (people != null)
    {
        foreach (Person person in people)
        {
            @:Hello to @* to show only static text *@
            <div>
                @person.Name,
                <span>@person.PersonGender, </span>
            </div>
        }
    }
    else
    {
        <h2>No People found!</h2>
    }
</body>

</html>