@{
    Layout = "_MasterLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/StyleSheet.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.1/css/all.min.css">
</head>

<body>
    <div class="container">
        <div class="navbar">
            <div class="navbar-brand">ASP.NET Core App</div>
            <ul>
                <li><a href="~/persons/index">Persons</a></li>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
                <li><a href="/contact-support">Contact</a></li>
                <li><a href="/products">All Products</a></li>
                <li><a href="/search-products">Search Products</a></li>
                <li><a href="/order-product">Order Product</a></li>
            </ul>
        </div>
        <div class="page-content">
            @RenderBody()
        </div>
    </div>

    <div class="footer-content">
        @RenderSection("footer_section", false)
    </div>

    @* Global Script: <script src="someScript.js"></script>*@
</body>

</html>