@{
    ListModel listModel = new ListModel();
    listModel.ListTitle = "Products";
    listModel.ListItems = new List<string>()
    {
        "ThinkPad Yoga",
        "Andriod",
        "Earphone",
        "Mobile Charger",
        "Wallet",
        "Pen Driver",
        "Water Bottle"
    };
}

@* <h3>@ViewBag.listModel.ListItems</h3> *@

<partial name="_ListPartialView" model="listModel"></partial>