@{
    ListModel listModel = new ListModel();
    listModel.ListTitle = "Products";
    listModel.ListItems = new List<string>()
    {
        "Paris",
        "Dhaka",
        "New York",
        "New Delhi",
        "Rome"
    };
}

<button class="button button-blue-black" type="button" id="button-load">Load Friends list</button>
<div id="list"></div>

<partial name="_ListPartialView" model="listModel" /> @* Returns the content to the parent view *@

<script>
    document.getElementById("button-load").addEventListener("click", async function () {
        var response = await fetch("friends-list", { method: "GET" });
        var responseBody = await response.text();
        document.getElementById("list").innerHTML = responseBody;
    });
</script>